{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light shadow-sm">
        <div class="container">
            <a href="index" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{% static 'Care.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">oose URS</span>
            </a>

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="index" class="nav-link">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>Hello,{{user.first_name}}</li>
                    {%endif%}
                    <li class="nav-item"><a href="#" class="nav-link" data-target="">About</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link" >Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- contact -->

    <form method="POST" class="borde  r border-light p-5" action= "register" style="width: 40%; margin-left: 2rem;  margin-top: 1rem; margin-bottom: 2rem; ;">
        {% csrf_token %}
        <p class="h4 mb-4 text-center">Student Registration</p>

         
        <label for="textInput">Student's Name </label>
        <input type="text" id="d_name" class="form-control mb-4"name="d_name" placeholder="Frist Name"required>
        <input type="text" id="d_lname" class="form-control mb-4"name="d_lname" placeholder="Last Name"required>
         
        <label for="textInput">Contact no.</label>
        <input type="tel" id="defaultContactFormPhone" class="form-control mb-4" name="mobile" placeholder="MObile-No"required>

        <label for="defaultSelect">College Name</label>
        <select  name="college" class="browser-default custom-select mb-4" id="select">
            <option value="" disabled="" selected="">Choose your option</option>
            <option value="Daulat Ram College">Daulat Ram College</option>
            <option value="Gargi College">Gargi College</option>
            <option value="Hindu College">Hindu College</option>
            <option value="Hans Raj College">Hans Raj College</option>
            <option value="Maharaja Agarsen College">Maharaja Agarsen College</option>
            <option value="Delhi College of Arts & Commerce">Delhi College of Arts & Commerce</option>
        </select>

        <label for="defaultSelect">Degree Name</label>
        <select name="degree" class="browser-default custom-select mb-4" id="select">
            <option value="" disabled="" selected="">Choose your option</option>
            <option value="B.Sc (Hons) Applied Life Science">B.Sc (Hons) Applied Life Science</option>
            <option value="B.Sc (Hons) Electronics">B.Sc (Hons) Electronics</option>
            <option value="B.Com (Hons) Corporate Laws">B.Com (Hons) Corporate Laws</option>
            <option value="B.Sc (Hons) Mathematics">B.Sc (Hons) Mathematics</option>
            <option value="B.A. (Hons) Economics">B.A. (Hons) Economics</option>
            <option value="B.A (Hons) Psychology">B.A (Hons) Psychology</option>
        </select>
        <label for="defaultSelect">Date of Registration </label>
        <input type="date" name="rdate" id="textInput" class="form-control mb-4" placeholder="date"required>
          
        {% if messages %}
        {% for message in messages%}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        
        <button class="btn btn-info btn-block" type="submit" value="save" data-toggle="modal" data-target="#exampleModal">Register</button>
    </form>

   <!-- Modal -->

    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    this link is not working 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

</body>

</html>